@import url('https://fonts.googleapis.com/css?family=Caveat|Sacramento&display=swap');

body {
  background-image: linear-gradient(midnightblue, skyblue, #a1e0ff);
  background-repeat: no-repeat;
  margin:20%;
}

h1 {
  margin-bottom: 200px;
  font-family: 'Sacramento';
  color: white;
  font-size: 60px;
  text-align: center;
  border: 6px #fff solid;

}

p {
  font-family: 'Caveat';
  color: white;
  font-size: 35px;
  text-align: center;
}

.one {
  float: left;
}

.two {
  margin: 100px;
}

#sakura {
  width: 100vw;
  height: 100vh;
  position: fixed;
  margin-left:-20%;
  margin-top: -20%
}

#alpaca {
  width: 40%;
  float: center;
}

#click {
  cursor: pointer;
}

#video_one {
  visibility: hidden;
  position: relative;
}

footer {}
